.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    background-color: white;
}

.navbar h1 {
    color: black;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: blue;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}